@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$font-main: Spartan;
$dark-magenta: hsl(300, 43%, 22%);
$light-pink: hsl(333, 80%, 67%);
$dark-gray-magenta: hsl(303, 10%, 53%);
$light-gray-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$mobile-width: 375px;
$desktop-width: 1440px;

body {
  font-family: $font-main;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

// CONTAINER

// HEADER

.header {
  color: $dark-magenta;
  &-title {
    font-weight: 700;
  }
  &-text {
    color: $dark-gray-magenta;
  }
}

// STARS

.stars {
  color: $dark-magenta;
}

.stars-item {
  background-color: $light-gray-magenta;
  &-text {
    font-weight: 700;
  }
}

// REVIEWS
.reviews {
  background-color: $dark-magenta;
  &-item-text {
    color: $light-gray-magenta;
  }
  &-item-verified {
    color: $light-pink;
  }
  &-item-name {
    color: $white;
    font-weight: 500;
  }
  &-item-avatar {
    border-radius: 50%;
  }
}

// FOOTER

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
