@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --font-main: Spartan;
  --dark-magenta: hsl(300, 43%, 22%);
  --light-pink: hsl(333, 80%, 67%);
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.container {
  border: 1px solid white;
  height: 100vh;
  background: url("/images/bg-pattern-top-desktop.svg") left top no-repeat,
    url("/images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
}

/* TOP SECTION */
.container-top {
  display: flex;
  margin: 8rem 10rem 3rem;
}

/* HEADER */
.header {
  color: var(--dark-magenta);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
}
.header-title {
  max-width: 25rem;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.header-text {
  max-width: 30rem;
  color: var(--dark-gray-magenta);
}

/* STARS */
.stars {
  color: var(--dark-magenta);
  flex-basis: 50%;
}
.stars-item {
  background-color: var(--light-gray-magenta);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
}
.stars-item-1 {
  margin-left: 0rem;
  margin-right: 7rem;
}
.stars-item-2 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.stars-item-3 {
  margin-left: 7rem;
  margin-right: 0rem;
}
.stars-item-stars {
  padding-left: 1.5rem;
}
.stars-item-stars img {
  padding: 0 0.15rem;
}
.stars-item-text {
  display: inline-block;
  font-weight: 700;
  padding: 0 1.5rem;
}

/* BOTTOM SECTION */
.container-bottom {
  display: flex;
  margin: 0 10rem 5rem;
}

/* REVIEWS */
.reviews-item {
  background-color: var(--dark-magenta);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.reviews-item-header {
  display: flex;
  margin-bottom: 1rem;
}
.reviews-item-meta {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 1.5rem;
}
.reviews-item-avatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.reviews-item-name {
  color: var(--white);
  font-weight: 500;
  margin: 0 0 0.25rem;
}
.reviews-item-verified {
  color: var(--light-pink);
  margin: 0;
}
.reviews-item-1 {
  margin: 0 1rem 2rem 0;
}
.reviews-item-2 {
  margin: 1rem 1rem 1rem 0;
}
.reviews-item-3 {
  margin: 2rem 0 0 0;
}
.reviews-item-text {
  color: var(--light-gray-magenta);
  letter-spacing: -0.046rem;
  line-height: 1.5rem;
}

/* MOBILE */
@media all and (max-width: 1000px) {
  .container {
    height: 100%;
    background: url("/images/bg-pattern-top-mobile.svg") left top no-repeat,
      url("/images/bg-pattern-bottom-mobile.svg") right bottom no-repeat;
  }

  /* TOP SECTION */
  .container-top,
  .container-bottom {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  /* HEADER */
  .header {
    text-align: center;
    align-self: center;
  }
  .header-title {
    padding: 5rem 3rem 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  .header-text {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  /* STARS */
  .stars {
    text-align: center;
  }
  .stars-item {
    margin: 1rem;
    padding: 0.5rem 0;
  }

  /* BOTTOM SECTION */

  /* REVIEWS */
  .reviews-item {
    margin: 1rem;
  }
  .reviews-item-text {
    letter-spacing: -0.055rem;
  }
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
