@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --font-main: Spartan;
  --dark-magenta: hsl(300, 43%, 22%);
  --light-pink: hsl(333, 80%, 67%);
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

body {
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

/* CONTAINER */

/* HEADER */

.header {
  color: var(--dark-magenta);
}

.header-text {
  color: var(--dark-gray-magenta);
}

.header-title {
  font-weight: 700;
}

/* STARS */

.stars {
  color: var(--dark-magenta);
}

.stars-item {
  background-color: var(--light-gray-magenta);
}

.stars-item-text {
  font-weight: 700;
}

/* REVIEWS */
.reviews {
  background-color: var(--dark-magenta);
}

.reviews-item-text {
  color: var(--light-gray-magenta);
}
.reviews-item-verified {
  color: var(--light-pink);
}
.reviews-item-name {
  color: var(--white);
  font-weight: 500;
}
.reviews-item-avatar {
  border-radius: 50%;
}
/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
